h1{
    font-family: Norasi;
    background-color: yellow;
    padding: 15px;
    color: blue;

}
p{
    font-size: xx-large;
    color: blue;
    background-color: yellow;
}
body{
    color: yellow;
}