<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href={% static "css/style.css"  %}>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact us</title>
</head>
<body>
<h1>You can reach us through</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam debitis dicta facere maxime perferendis rem rerum similique! Assumenda, atque laborum maiores minus necessitatibus obcaecati rem repellat sunt vel veritatis.</span><span>A debitis eveniet nemo quidem reprehenderit! Adipisci aliquam aliquid cupiditate deserunt dolorem doloremque doloribus ea eaque enim libero molestias, natus nobis, nulla omnis pariatur perspiciatis qui repudiandae sapiente vel, voluptatem.</span><span>Ab, delectus deleniti deserunt, ipsam laborum minus nemo nisi pariatur quia quidem repellat reprehenderit sequi tempora. Beatae cum dolore fugiat impedit mollitia nisi
    <br>non possimus ratione suscipit, tempora, veritatis voluptas.</span></p>
<img src="st" alt="">

</body>
</html>