<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
     {% load static %}

      <link href="{% static 'css/style.css' %}" rel="stylesheet">



</head>

<body>
<h1 style="color: orchid">This is about us page</h1>
<p>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque et facere, harum illo in ipsam
        labore, neque odit quam quidem quo sit? Aliquid, obcaecati quis. Cumque iusto reiciendis ullam.
    </div>
    <div>Ad asperiores cumque esse explicabo illo ipsum iusto labore magnam nam nisi perspiciatis quam quis, quisquam
        similique tenetur vitae voluptatum? Autem necessitatibus non, placeat quisquam repellat sequi sunt? Corporis,
        sequi.
    </div>
    <div>A accusantium, cupiditate deleniti earum, enim eos incidunt iusto minus mollitia numquam reiciendis soluta,
        voluptate voluptates. Corporis dolores harum itaque neque officiis perspiciatis repellat vitae! Id maiores nemo
        quasi vel?
    </div>
    <div>A aspernatur, commodi culpa dolor dolore eligendi, esse est facere id iure nesciunt nisi nobis sunt tempore
        tenetur vero voluptatem? Amet animi blanditiis dignissimos fuga numquam porro quae similique! Fugiat!
    </div></p>
</body>
</html>